#
# Ignored files for `ammo.js`
#

# Ignore generated binaries
/build/
/bin/

# NPM related files
node_modules
.yarn/

#
# Intermediate build files
#

.cmake/
build.ninja
CMakeCache.txt
cmake_install.cmake
Testing/
CMakeFiles/
bullet/BulletConfig.cmake
.vscode/*.log
*.diff

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
