/build/

bin/CMakeCache.txt
bin/CMakeFiles/
bin/Makefile
bin/WebIDLGrammar.pkl
bin/bullet/
bin/cmake_install.cmake
bin/glue.cpp
bin/glue.js
bin/glue.o
bin/parser.out
node_modules
*.diff

#
# Intermediate build files
#

.cmake/
build.ninja
CMakeCache.txt
cmake_install.cmake
Testing/
CMakeFiles/
bullet/BulletConfig.cmake
.vscode/*.log

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
